/* Global CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: auto;
    width: 1450px;
    font-family: 'Roboto', sans-serif;
}

/* header CSS */

header {
    display: flex;
    background-color: #1f2937;
}

.links {
    display: flex;
    justify-content: center;
    flex: 1;
    align-self: center;
    color: #E5E7EB;
    font-size: 18px;
}

.header-links {
    display: flex;
    justify-content: space-around;
    flex: 1;
}

.header-logo {
    display: flex;
    justify-content: center;
    color: #f9faf9;
    font-size: 24px;
    align-self: center;
    flex: 1;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

/* Hero CSS */

.hero {
    background-color: #1f2937;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf9;
}

.hero-statement {
    flex: 1;
    padding: 150px;
}

.hero {
    display: flex; 
}

.hero-subtext {
    flex: 1;
    font-size: 18px;
    color: #e5e7eb;
}

.hero-image {
    display: flex;
    justify-content: start;
    flex: 1;
}

.image {
    align-self: center;
    width: 500px;
    height: auto;
}

.hero {
    padding-top: 10px;
    padding-left: 100px;
    padding-right: 100px;
}

.hero-button {
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #3882f6;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: bolder;
    border-radius: 15px;
    border: #3882f6 3px solid;
}

/* Info CSS */

.info-title {
    text-align: center
}

.info-container {
    display: flex;
    justify-content: space-evenly;    
    padding-right: 125px;
    padding-left: 125px;
    padding-bottom: 125px; 
}

.info-child {
    flex: 1;
    padding-left: 50px;
    padding-right: 50px;
}

.info-image {
    width: 125px;
    height: auto;
    border-radius: 15px;
}

.info-title {
    font-size: 36px;
    color: #1f2937;
    font-weight: bolder;
    padding-top: 100px;
    padding-bottom: 100px;
}

.info-text {
    font-size: 18px;
    color: #1f2937;
    font-weight: bolder;
    padding-right: 60px;    
}

/* Quote Text */

.quote-text {
    font-size: 36px;
    font-weight: 500;
    font-style: italic;
    color: #1f2937;
}

.quote-author {
    padding-left: 600px;
    font-size: 36px;
    color: #1f2937;
    font-weight: bolder;
}

.quote {
    padding: 100px;
    background-color: #E5E7EB;
}

/* CTA CSS */

.call-to-action {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
    margin: 150px;
    display: flex;
    justify-content: center;
    background-color: #3882f6;
    border-radius: 8px;
}

.cta-text-container {
    flex: 4;
}

.cta-button {
    flex: 1;
    background-color: #3882f6;
    color: #F9FAF8;
    font-weight: bolder;
    font-size: 24px;
    border: #F9FAF8 3px solid ;
}

.cta-text1 {
    font-size: 24px;
    font-weight: bolder;
    color: #F9FAF8;
}

.cta-text2 {
    font-size: 18px;
    font-weight: 500;
    color: #E5E7EB;
}

.cta-button {
    border-radius: 15px;
}

/* footer CSS */

.footer-text {
    background-color: #1f2937;
    color: #E5E7EB;
    font-size: 18px;
    text-align: center;
    padding: 50px 50px;
}
